# ==============================
# Python Cache
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Google Colab Temporary Files
# ==============================

content/
sample_data/

# ==============================
# Spark Output Files
# ==============================

week6_parquet/
week6_output_csv/
*.crc
_SUCCESS

# ==============================
# Spark Logs
# ==============================

spark-warehouse/
metastore_db/
derby.log

# ==============================
# Virtual Environment
# ==============================

venv/
env/
.venv/

# ==============================
# Operating System Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDE Files
# ==============================

.vscode/
.idea/

# ==============================
# Log Files
# ==============================

*.log

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp
